
    <H1>Your Skrrrt! Journey</H1>

    <p>You are receiving this email to confirm that your booking was accepted by {{driver_name}}</p>
    <p>Date: {{booking_date}} @ {{booking_time}}</p>
    <p>Pickup Location: {{booking_pickup_location}}</p>
    <p>Dropoff Location: {{booking_drop_off_location}}</p>
    <p>Price: £{{booking_price}}</p>

    <p>
        If you want more details about your booking,
        <a href="{{booking_link}}">Click here</a>
    </p>

    <p>If you havent requested a journey, please cancel your journey and contact our support team</p>

