{% extends "base.html" %}
{% block content %}

    <h1>Management</h1>
    <div class="p-4 border rounded shadow-sm bg-white ">
    <!--User Discounts-->
    <button type="button btn btn-primary" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#discountsModal"> Configure Discounts</button>

        <div class="modal fade" id="discountsModal" tabindex="-1" aria-labelledby="discountsLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="discounts">Configure Discounts</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <p><i>Please Note: A page refresh may be required to see updated vales after a non successful edit.</i></p>
                    <div class="modal-body">
                        
                        
                            <form action="" method="post" name="Discount" class="p-4 border rounded shadow-sm bg-white ">
                                {{ form_d.hidden_tag() }}
              
                                <div class="form-group">
                                    <h3>Configure the user discount percentage</h3>
                                    <p></p>
                        
                                    {{ form_d.discount_perc(class_='form-control', placeholder="Enter the discount") }} %
                        
                                    {% for error in form_d.discount_perc.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            [{{ error }}]
                                        </div>
                                    {% endfor %}
                                    
                                </div>

                                <div class="form-group">
                                    <h3>How many average trips per week are required to get the discount</h3>
                                    <p></p>
                        
                                    {{ form_d.avg_trips(class_='form-control', placeholder="Enter the number of trips") }}
                        
                                    {% for error in form_d.avg_trips.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            [{{ error }}]
                                        </div>
                                    {% endfor %}

                                </div>
                        
                                <button type="submit" name="submit_form_d" class="btn btn-primary btn-block">Configure</button>
                            </form>
                
                    

                    </div>
                </div>
            </div>
        </div>
        
    <button type="button btn-primary btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchUserModal">Add New Manager</button>

        <div class="modal fade" id="searchUserModal" tabindex="-1" aria-labelledby="searchUserLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingFee">Search for Users</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <form action="" method="post" id="assignManager" class="p-4 border rounded shadow-sm bg-white">
                            {{ form_nm.hidden_tag() }}
             
                            <div class="form-group">
            
                                {{ form_nm.user_list(class_='form-control', placeholder="Choose a Person") }} 
                        
                                {% for error in form_nm.user_list.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        [{{ error }}]
                                    </div>
                                {% endfor %}   
                            </div>
                        
                            <div class="modal-footer">
                                <button type="submit" name="submit_form_nm" class="btn btn-primary">Assign Manager Status</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        

        <div class="modal fade" id="assignManagerModal" tabindex="-1" aria-labelledby="assignManagerLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="assignManager">Choose User to Assign Manager Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        
                            <form action="" method="post" name="assignManager" class="p-4 border rounded shadow-sm bg-white">
                                {{ form_nm.hidden_tag() }}
                 
                                <div class="form-group">
                
                                    {{ form_nm.user_list(class_='form-control', placeholder="Choose a Person") }} 
                            
                                    {% for error in form_nm.user_list.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            [{{ error }}]
                                        </div>
                                    {% endfor %}   
                                </div>
                            
                                <div class="modal-footer">
                                    <button type="submit" name="submit_form_nm" class="btn btn-primary" data-bs-dismiss="modal">Assign Status</button>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>


    <!--Booking Fees-->
    <button type="button btn-primary btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookingFeeModal"> Configure Booking Fee </button>


        <div class="modal fade" id="bookingFeeModal" tabindex="-1" aria-labelledby="bookingFeeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingFee">Configure Booking Fee</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        
                            <form action="" method="post" name="BookingFeeSettings" class="p-4 border rounded shadow-sm bg-white">
                                {{ form_bf.hidden_tag() }}
                 
                                <div class="form-group">
                                    <p>A percentage value from 0% to 100%. This will be the income for the company workers, developers etc... the remaining money will be allocated to the driver of the associated journey. A value of 10% means 10% of a bookings cost will go towards the company, and 90% will go to the drivers.</p>
                            
                                    {{ form_bf.booking_fee(class_='form-control', placeholder="Enter the booking fee") }} %
                            
                                    {% for error in form_bf.booking_fee.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            [{{ error }}]
                                        </div>
                                    {% endfor %}   
                                </div>
                            
                                <div class="modal-footer">
                                    <button type="submit" name="submit_form_bf" class="btn btn-primary" data-bs-dismiss="modal">Configure</button>
                                </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>


    <!--Weekly Revenue-->
    <a class="btn btn-primary" href="{{ url_for('revenue') }}">View Revenue</a>
    </div>
    
{% endblock %}