{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh;">
    <div class ="col-md-6">

    <h1>Add a New Car</h1>
    <p>Enter the details below.</p>

        <form action="" method="post" name="CarRegistration" class="p-4 border rounded shadow-sm bg-white">
            {{ form.hidden_tag() }}

            <div class="form-group">

            <h3>Registration Plate {{ form.reg_plate(class_='form-control', placeholder="Enter your car reg plate") }} </h3>

            {% for error in form.reg_plate.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}

            </div>

            <div class="form-group">

                <h3>Car Manufacturer {{ form.make(class_='form-control', placeholder="Enter your car manufacturer") }} </h3>

                {% for error in form.make.errors %}
                <div class="alert alert-danger" role="alert">
                [{{ error }}]
                </div>
                {% endfor %}

            </div>


            <div class="form-group">

            <h3>Model {{ form.model(class_='form-control', placeholder="Enter car model") }} </h3>

            {% for error in form.model.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}

            </div>


            <div class="form-group">

                <h3>Car Colour {{ form.colour(class_='form-control', placeholder="Enter your car colour") }} </h3>

                {% for error in form.colour.errors %}
                <div class="alert alert-danger" role="alert">
                [{{ error }}]
                </div>
                {% endfor %}

            </div>

            <div class="form-group">

                    <h3>Car Nickname {{ form.car_nickname(class_='form-control', placeholder="Enter a memorable nickname for your car") }} </h3>

                    {% for error in form.car_nickname.errors %}
                    <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                    </div>
                    {% endfor %}

                </div>

            <div class="form-group">

                <h3>Available Seats {{ form.max_seats(class_='form-control', placeholder="Enter the max number of passengers that can be driven.") }} </h3>

                {% for error in form.max_seats.errors %}
                <div class="alert alert-danger" role="alert">
                [{{ error }}]
                </div>
                {% endfor %}

            </div>

            <button type="submit" class="btn btn-primary btn-block">Add Car</button><br>
        </form>
</div>
</div>

{% endblock %}