{% extends "base.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh;">
    <div class="col-md-6">

        <h1 class="text-center mb-4">Reset your Password</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="form-group">
                <p>
                    {{ form.password.label()}}<br>
                    {{ form.password(class_='form-control', placeholder="Enter your new password")}}
                    {% for error in form.password.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
                </p>
            </div>

            <div class="form-group">
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(class_='form-control', placeholder="Reenter your new password")}}
                    {% for error in form.password2.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
                </p>
            </div>

            <p> {{ form.submit(type="submit", class="btn btn-primary btn-block") }} </p>
        </form>
    </div>
</div>


{% endblock %}